<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Account Activate</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="Admin Dashboard" name="description" />
		<meta content="Spring MVC Spring Integration Thymeleaf" name="keywords" />
		<meta content="sergio" name="author" />
		<th:block th:replace="fragments/common::common-styles" />
	</head>
<body>
	<div class="wrapper">
		<div class="alert alert-success">
			<p th:text="${message}">Account Deleted</p>
		</div>
	</div>
</body>
</html>