<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Change Password</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="Admin Dashboard" name="description" />
		<meta content="Spring MVC Spring Integration Thymeleaf" name="keywords" />
		<meta content="sergio" name="author" />
		<th:block th:replace="fragments/common::common-styles" />
		<link href="../static/css/login.css" th:href="@{/css/login.css}"
			rel="stylesheet" media="screen" />
	</head>
<body>
	<div class="wrapper" sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
		<div th:fragment="form-errors" class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li class="text-left" th:each="err: ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
        </div>
	    <h1 th:text="#{accounts.resetting.change.password.title}">Change Password</h1>
	    <form method="post">
	    
	    	<label th:text="#{accounts.resetting.change.password.current}">Current password</label>
	    	<input type="currentClearPassword" class="form-control"
					name="current_clear_password" th:placeholder="#{accounts.resetting.change.password.current}" required="required" /> 
	        
	        <label th:text="#{accounts.resetting.change.password.new}">New Password</label>
	        <input type="newPassword" class="form-control"
					name="password_clear" th:placeholder="#{accounts.resetting.change.password.new}" required="required" /> 
	 
	        <label th:text="#{accounts.resetting.change.password.new.confirm}">Confirm Password</label>
	        <input type="confirmPassword" class="form-control"
					name="confirm_password" th:placeholder="#{accounts.resetting.change.password.new.confirm}" required="required" /> 
	         
	        <button type="submit" th:text="#{accounts.resetting.change.password.send}">Update</button>
	    </form>
	  </div>
	  
	  <th:block th:replace="fragments/common::common-scripts" />
</body>
</html>