<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
<body>
	<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
	    <h1 th:text="#{message.resetYourPassword}">reset</h1>
	    <form>
	        <label th:text="#{label.user.password}">password</label>
	        <input id="password" name="newPassword" type="password" value="" />
	 
	        <label th:text="#{label.user.confirmPass}">confirm</label>
	        <input id="matchPassword" type="password" value="" />
	         
	        <div id="globalError" style="display:none"
	          th:text="#{PasswordMatches.user}">error</div>
	        <button type="submit" onclick="savePass()"
	          th:text="#{message.updatePassword}">submit</button>
	    </form>
	  </div>
</body>
</html>